/*selector universal*/
*{
    color: red;
}




/*selector de etiqueta*/
nav{
    background: steelblue;
    border: 7px dotted black;
}
h2{
    color: blue;
}
h1{
    text-align: center;
}


/*selector de clase*/
.titulo{
    text-align: center;
}
.titulo-borde{
    border: 4px solid black;
}
.😒{
    color: darkmagenta;
}

/*selector id*/
#idsec{
    border: 5px double black;
}


/*slector de atributo*/
a[href]{
    text-decoration: none;
}

[href="htttps://www.google.com"]{
    color: blue;
}

[href^="htttps"]{
    color: olive;
}

[href$="..com"]{
    color: green;
}

[href*="www."]{
    text-decoration: underline;
}